<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="card card-primary col-md-6 col-xl-12">
                    <div class="card-body">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Team Head</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Female</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>

                                    </select>
                                </div>
                            </div>
                            <figure id="donut"></figure>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>