.upload-area {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}