<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <form
              #changeForm="ngForm"
              (ngSubmit)="changeForm.form.valid && changePassword()"
              novalidate
            >
              <div
                class="input-group mb-2"
                [class.is-invalid]="changeForm.submitted && password.invalid"
              >
                <input
                  type="password"
                  class="form-control"
                  name="current_password"
                  placeholder="Current Password"
                  #currentpassword="ngModel"
                  [(ngModel)]="currentPassword"
                  minlength="6"
                  required
                />
                <div
                  class="error-field"
                  *ngIf="
                    changeForm.submitted && currentpassword.errors?.required
                  "
                >
                  Current Password is required
                </div>
                <div
                  *ngIf="
                    changeForm.submitted && currentpassword.errors?.minlength
                  "
                  class="error-field"
                >
                  Current Password must be at least 6 characters
                </div>
              </div>
              <div
                class="input-group mb-2"
                [class.is-invalid]="changeForm.submitted && password.invalid"
              >
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="New Password"
                  #password="ngModel"
                  [(ngModel)]="newPassword"
                  minlength="6"
                  required
                />
                <div
                  class="error-field"
                  *ngIf="changeForm.submitted && password.errors?.required"
                >
                  Password is required
                </div>
                <div
                  *ngIf="changeForm.submitted && password.errors?.minlength"
                  class="error-field"
                >
                  Password must be at least 6 characters
                </div>
              </div>
              <div
                class="input-group mb-4"
                [class.is-invalid]="
                  changeForm.submitted && confirmpassword.invalid
                "
              >
                <input
                  type="password"
                  class="form-control"
                  name="confirmpassword"
                  placeholder="Confirm Password"
                  #confirmpassword="ngModel"
                  [(ngModel)]="confirmPassword"
                  minlength="6"
                  required
                  autocomplete="off"
                />
                <div
                  class="error-field"
                  *ngIf="
                    changeForm.submitted && confirmpassword.errors?.required
                  "
                >
                  Confirm password is required
                </div>
                <div
                  *ngIf="
                    changeForm.submitted && confirmpassword.errors?.minlength
                  "
                  class="error-field"
                >
                  Confirm password must be at least 6 characters
                </div>
                <div
                  *ngIf="
                    changeForm.submitted &&
                    confirmPassword &&
                    confirmPassword !== newPassword
                  "
                  class="error-field"
                >
                  Confirm password should match with password
                </div>
              </div>
              <button class="btn btn-block btn-primary mb-4">
                Change password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
