<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <form
              #resetForm="ngForm"
              (ngSubmit)="resetForm.form.valid && resetPassword()"
              novalidate
            >
              <div
                class="input-group mb-4"
                [class.is-invalid]="
                  (resetForm.submitted && email.invalid) ||
                  (message && message !== 'success')
                "
                [class.is-valid]="message && message === 'success'"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="feather icon-mail"></i
                  ></span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email address"
                  required
                  #email="ngModel"
                  email
                  [(ngModel)]="userEmail"
                  autocomplete="off"
                />
                <div
                  class="error-field"
                  *ngIf="resetForm.submitted && email.errors?.required"
                >
                  Email is required
                </div>
                <div
                  *ngIf="resetForm.submitted && email.errors?.email"
                  class="error-field"
                >
                  Email must be a valid email address
                </div>
                <div
                  [class.success]="message === 'success'"
                  [class.error-field]="message !== 'success'"
                  *ngIf="message"
                >
                  {{
                    message && message !== "success"
                      ? message
                      : "password reset successfully, please check your mail."
                  }}
                </div>
              </div>
              <button class="btn btn-block btn-primary mb-4">
                Reset password
              </button>
              <p class="mb-2 text-muted hide">
                Don’t have an account?
                <a [routerLink]="['/auth/signup']" class="f-w-400">Sign Up</a>
              </p>
              <p class="mb-2">
                Already have an account?
                <a [routerLink]="['/auth/signin']" class="f-w-400">Sign In</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
